h2.intro {
  color: #177309;
  text-decoration: underline;
  font-family: cursive;
  text-align: center;
}
p.intro {
  font-style: italic;
  font-size: 25px;
}
img.intro {
  margin-left: 298px;
  height: 325px;
}
